.round{
    border-radius: 10px;
    border: 2px solid #f7db80;
    padding: 5px;
    width:100%;
    height: 15px;
}
td{
    text-align: left;
    font-size:14px;
    padding:10px;
}
th{
  text-align: left;
  font-size:16px;
  padding:8px;
  background-color:#b2b2b2;;
}
  tr:nth-child(odd){background-color: #f0f0f0;}
table{
  border-collapse: collapse;
}
div{
  padding: 1px;
}

.ef_days {
  /* display: none; */
  cursor: not-allowed;
}
